<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>as</servlet-name>
    <servlet-class>com.error_404.servlet.error_404_servlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TestSlingServlet</display-name>
  	<servlet-name>TestSlingServlet</servlet-name>
  	<servlet-class>com.error_404.servlet.TestSlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>as</servlet-name>
    <url-pattern>/404error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestSlingServlet</servlet-name>
  	<url-pattern>/TestSlingServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
</web-app>